#UE proj
Binaries/
Intermediate/
Saved/
DerivedDataCache/
StarterContent/

#VS proj
x64/
Debug/
.vs/

#clion
.idea
cmake-build-debug
cmake-build-release
cmake-build-debug-visual-studio
build

#Unity
Library
library
Temp
temp
Obj
obj
Build
build
Builds
builds
UserSettings
usersettings
MemoryCaptures
memorycaptures
Logs
logs
